
#contenedor {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 20px; 
  
  }
  
  .titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  // Sección del usuario
  #userdata {
    background-color: var(--ion-card-background, #ffffff);// Fondo blanco para la sección
    border-radius: 8px; // Bordes redondeados
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); // Sombra para dar profundidad
    padding: 20px; // Espaciado interno
    margin-bottom: 20px; // Espacio entre secciones
    gap: 15px; 
  }
  
  // Sección del auto
  #auto {
    background-color: var(--ion-card-background, #ffffff); // Fondo blanco para la sección
    border-radius: 8px; // Bordes redondeados
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); // Sombra para dar profundidad
    padding: 20px; // Espaciado interno
    margin-bottom: 20px; // Espacio entre secciones
    gap: 20px; 
  }
  
  // Estilo para el toggle
  ion-toggle {
    margin-bottom: 20px; // Espacio entre el toggle y la siguiente sección
    background-color: #000000; // Fondo claro para el toggle
    border-radius: 8px; // Bordes redondeados
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Sombra para dar profundidad
    padding: 10px; // Espaciado interno
  }
  
  ion-input{
    margin-top: 15px;
  }

  ion-item[lines="none"]{
    margin-top: 20px;
    
  }

  ion-button{
    margin-top: 20px;
    width: 100%;
  }

  img[src="https://www.nissan-cdn.net/content/dam/Nissan/cl/service/campanas-preventivas/400x250_TIIDA_C11.png.ximg.l_4_m.smart.png"] {
    width: 105%;          
    max-width: 300px;      
    height: auto;          
    border-radius: 10px;   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin: 0 auto;        
    display: block;        
    
  }
  
  /* Squared button styling */
ion-button {
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
  padding: 0 10px;
  --border-radius: 10px !important;  /* Hace los botones más cuadrados */
  height: 10px;  /* Altura fija para los botones */
}

/* Estilo específico para el botón dentro del ion-button */
ion-button::part(native) {
  border-radius: 50px !important;
}

/* Para asegurar que el contenido del botón también sea cuadrado */
ion-button .button-native {
  border-radius: 50px !important;
}

/* Media query for larger screens */
@media (min-width: 768px) {
  ion-card {
      max-width: 600px;
  }
  
  ion-button {
      max-width: 400px;
  }
}