<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Volver</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Editar Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="contenedor">
    <div class="titulo">Editar Perfil</div>

    <!-- Sección del Perfil -->
    <section id="userdata">
      <form>
        <ion-item>
          <ion-label>Foto de Perfil</ion-label>
          <ion-avatar>
            <img src="assets/default-avatar.png" alt="Foto de Perfil">
          </ion-avatar>
        </ion-item>

        <ion-input fill="outline" [(ngModel)]="usuarioConectado.nombreCompleto" name="nombreCompleto" label="Nombre Completo" labelPlacement="floating" placeholder="Cambiar su nombre completo"></ion-input>

        <ion-input fill="outline" [(ngModel)]="usuarioConectado.correoElectronico" name="correoElectronico" label="Correo Electrónico" labelPlacement="floating" placeholder="Correo Electrónico" disabled></ion-input>

        <ion-item>
          <ion-select [(ngModel)]="usuarioConectado.tipoRegistro" name="tipoRegistro" label="Tipo de Usuario" label-placement="floating">
            <ion-select-option value="conductor">Conductor</ion-select-option>
            <ion-select-option value="pasajero">Pasajero</ion-select-option>
          </ion-select>

        </ion-item>
        <ion-input id="inputNuevaContrasena" fill="outline" label="Cambiar Contraseña" labelPlacement="floating" [clearInput]="true"
          placeholder="Ingresar Nueva contraseña" [type]="sw ? 'text' : 'password'"></ion-input>

        <ion-input id="inputContrasenaVieja" fill="outline" label="Confirmar Contraseña Vieja" labelPlacement="floating" [clearInput]="true"
           placeholder="Ingrese Antigua contraseña" [type]="sw ? 'text' : 'password'"></ion-input>

        <ion-item lines="none">
          <ion-checkbox (ionChange)="togglePasswordVisibility()" justify="start" labelPlacement="end">Mostrar Contraseña</ion-checkbox>
        </ion-item>
      </form>
    </section>

    <section id="auto" *ngIf="usuarioConectado?.tipoRegistro === 'conductor'">

      <ion-input fill="outline" [(ngModel)]="nuevoAuto.marcaModelo" name="marcaModelo" label="Marca y Modelo del Auto" labelPlacement="floating" placeholder="Ingrese marca y modelo"></ion-input>
      
      <ion-input fill="outline" [(ngModel)]="nuevoAuto.color" name="colorAuto" label="Color del Auto" labelPlacement="floating" placeholder="Ingrese el color del auto"></ion-input>
      
      <ion-input fill="outline" [(ngModel)]="nuevoAuto.matricula" name="matriculaAuto" label="Matrícula del Auto" labelPlacement="floating" placeholder="Ingrese la matrícula del auto"></ion-input>
      
      <ion-item>
        <ion-label>Foto del Auto</ion-label>
        <ion-avatar>
          <img src="assets/default-car.png" alt="Foto del Auto">
        </ion-avatar>
      </ion-item>
    </section>

    <ion-button expand="full" color="primary" (click)="confirmarCambios()">Guardar y Confirmar</ion-button>
  </div>

</ion-content>
