
#contenedor {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 20px; 
  
  }
  
  .titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  // Sección del usuario
  #userdata {
    background-color: var(--ion-card-background, #ffffff);// Fondo blanco para la sección
    border-radius: 8px; // Bordes redondeados
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); // Sombra para dar profundidad
    padding: 20px; // Espaciado interno
    margin-bottom: 20px; // Espacio entre secciones
    gap: 15px; 
  }
  
  // Sección del auto
  #auto {
    background-color: var(--ion-card-background, #ffffff); // Fondo blanco para la sección
    border-radius: 8px; // Bordes redondeados
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); // Sombra para dar profundidad
    padding: 20px; // Espaciado interno
    margin-bottom: 20px; // Espacio entre secciones
    gap: 20px; 
  }
  
  // Estilo para el toggle
  ion-toggle {
    margin-bottom: 20px; // Espacio entre el toggle y la siguiente sección
    background-color: #000000; // Fondo claro para el toggle
    border-radius: 8px; // Bordes redondeados
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Sombra para dar profundidad
    padding: 10px; // Espaciado interno
  }
  
  ion-input{
    margin-top: 15px;
  }

  ion-item[lines="none"]{
    margin-top: 20px;
    
  }

  ion-button{
    margin-top: 20px;
    width: 100%;
  }

  img[src="https://w7.pngwing.com/pngs/857/513/png-transparent-nissan-tiida-car-nissan-micra-nissan-sunny-nissan-compact-car-sedan-car-thumbnail.png"] {
    width: 100%;          
    max-width: 300px;      
    height: auto;          
    border-radius: 10px;   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin: 0 auto;        
    display: block;        
    
  }
  
  