<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>Volver</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Chat-Car</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content class="chat-container">
      <!-- Área de mensajes -->
      <div class="messages">
        <div *ngFor="let message of messages" [ngClass]="{'chofer': message.type === 'chofer', 'usuario': message.type === 'usuario'}" class="message">
          <div class="message-content">
            <div class="message-text">{{ message.text }}</div>
            <div class="message-time">{{ message.time }}</div>
          </div>
        </div>
      </div>
  
      <!-- Área de entrada de mensajes, siempre en la parte inferior -->
      <div class="input-area">
        <ion-input [(ngModel)]="newMessage" placeholder="Escribe un mensaje" (keyup.enter)="sendMessage()"></ion-input>
        <ion-button (click)="sendMessage()">Enviar</ion-button>
      </div>
    </ion-content>
  </ion-content>
  