

<ion-content [fullscreen]="true">
  <div id="contenedor"></div>

  <div id="info-viaje">
    <div class="distancia">
      <ion-icon name="analytics"></ion-icon>
      {{distancia}}
    </div>
    <div class="tiempo">
      <ion-icon name="time"></ion-icon>
      {{duracion}}
    </div>
  </div>

  <div #map id="map"></div>

  <input type="text" [(ngModel)]="end" (input)="updateSearchResults()" placeholder="Destino" id="input">
    
  <div id="rutas" *ngIf="autocompleteItems" [hidden]="autocompleteItems.length == 0">
    <div class="ruta" *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </div>
  </div>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Volver</ion-title>
  </ion-toolbar>
  

<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">detalle-viaje</ion-title>
  </ion-toolbar>
</ion-header>
