<ion-content [fullscreen]="true">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  
  <div id="contenedor" class="login-container">
    <div class="logo-in logo-container">
      <ion-icon src="/assets/autologo.svg" style="width: 4rem; height: 4rem;" class="logo"></ion-icon>
      <h1 class="app-title">TeLlevoApp</h1>
      <ion-icon [name]="isDarkMode ? 'sunny' : 'moon'" (click)="toggleTheme()" class="theme-toggle-icon"></ion-icon>
    </div>

    <br>
    <br>
    <div class="titulo login-title">
      Inicia sesión
    </div>

    <form class="login-form">
      <div class="form-group">
        <ion-input 
          [(ngModel)]="correoElectronico" 
          name="correoElectronico" 
          fill="outline" 
          label="Correo Electrónico" 
          labelPlacement="floating" 
          [clearInput]="true"
          placeholder="Ingrese su correo electrónico">
        </ion-input>
      </div>

      <div class="form-group password-group">
        <ion-input 
          [(ngModel)]="contrasena" 
          name="contrasena" 
          fill="outline" 
          clearOnEdit="false" 
          label="Contraseña" 
          labelPlacement="floating" 
          [clearInput]="true"
          [counter]="true" 
          maxlength="20"
          placeholder="Ingrese su contraseña" 
          [type]="sw ? 'text' : 'password'">
        </ion-input>
        <button type="button" class="password-toggle" (click)="togglePasswordVisibility()">
          
        </button>
      </div>

      <ion-checkbox (ionChange)="togglePasswordVisibility()" justify="start" labelPlacement="end" class="show-password-checkbox">
        Mostrar Contraseña
      </ion-checkbox>

      <ion-button expand="block" color="primary" (click)="logIn()" class="login-button">
        Ingresar
      </ion-button>

      <ion-button expand="block" fill="outline" color="primary" (click)="goRegister()" class="register-button">
        No tienes cuenta?
      </ion-button>

      <p class="skip-link" (click)="goHome()">No por ahora</p>
      <p class="skip-link" (click)="setOpen(true)">Recuperar Contraseña</p>
      

    </form>
  </div>
</ion-content>

<ion-modal [isOpen]="isModalOpen">
  
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>TeLlevoApp</ion-title>
          <ion-buttons slot="end">
            <ion-icon 
              [name]="isDarkMode ? 'sunny' : 'moon'" 
              (click)="toggleTheme()" 
              class="theme-toggle-icon"
              style="font-size: 24px; margin-right: 10px;"
            ></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div id="contenedor">
          <h1 class="titulo">Recupera la clave</h1>
          <ion-item>
            <ion-input 
              type="text"
              placeholder="usuario@gmail.com"
              [(ngModel)]="correoElectronico"
            ></ion-input>
          </ion-item>
          <div class="button-container">
            <ion-button (click)="resetPass()" color="primary">
              Recuperar
            </ion-button>
            <ion-button (click)="setOpen(false)" color="medium" fill="outline">
              Cancelar
            </ion-button>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>