<ion-content [fullscreen]="true">
  <div id="contenedor">
    
    <div class="logo-in">
      <img src="assets/autologo.svg" class="logo">
      <h1>TeLlevoApp</h1>
      <ion-icon id="icono" (click)="toggleTheme()" name="moon"></ion-icon>
    </div>

    <div class="titulo">
      Inicia sesión
    </div>

    <form (ngSubmit)="onSubmit()">
      <ion-input fill="outline" label="Usuario" labelPlacement="floating" [clearInput]="true"
        placeholder="Ingrese su usuario"></ion-input>

      <ion-input fill="outline" clearOnEdit="false" label="Contraseña" labelPlacement="floating" [clearInput]="true"
        placeholder="Ingrese su contraseña" [type]="showPassword ? 'text' : 'password'"></ion-input>

      <ion-checkbox justify="start" labelPlacement="end" (ionChange)="togglePasswordVisibility($event)">
        Mostrar Contraseña
      </ion-checkbox>

      <ion-button expand="block" color="primary" (click)="logIn()">Ingresar</ion-button>
      <ion-button expand="block" color="primary" fill="clear" (click)="goRegister()">No tienes Cuenta?</ion-button>
    </form>

    <p (click)="goHome()">No Por Ahora</p>
  </div>
</ion-content>
