.form-list {
    background: transparent;
    padding: 0;
    margin: 16px 0;
  }
  
  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --background: transparent;
    --border-color: var(--ion-color-medium);
    --highlight-height: 1px;
    margin-bottom: 16px;
    
    &::part(native) {
      padding: 0;
    }
  }
  
  ion-label {
    color: var(--ion-color-medium);
    font-size: 0.9rem;
    margin-bottom: 4px;
  }
  
  ion-input {
    --color: #000000;
    --padding-start: 16px;
    --padding-end: 16px;
    --background: var(--ion-color-light);
    --border-radius: 8px;
    --placeholder-color: var(--ion-color-medium);
    margin-top: 4px;
    height: 48px;
  }
  
  .date-time-container {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    
    .date-item, .time-item {
      flex: 1;
      margin: 0;
      
      ion-input {
        height: 40px;
        --padding-start: 8px;
        --padding-end: 8px;
        font-size: 0.9rem;
      }
    }
  }
  
  // Estilos específicos para inputs de fecha y hora
  ion-input[type="date"],
  ion-input[type="time"] {
    --padding-start: 8px;
    --padding-end: 8px;
    height: 40px;
    font-size: 0.9rem;
    
    &::part(native) {
      min-height: 40px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  
  .submit-button {
    margin-top: 24px;
    height: 48px;
    --border-radius: 8px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  
  // Estilo para el modo oscuro
  @media (prefers-color-scheme: dark) {
    ion-input {
      --background: rgba(var(--ion-color-light-rgb), 0.1);
    }
  }

  /* Squared button styling */
ion-button {
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
  padding: 0 10px;
  --border-radius: 10px !important;  /* Hace los botones más cuadrados */
  height: 10px;  /* Altura fija para los botones */
}

/* Estilo específico para el botón dentro del ion-button */
ion-button::part(native) {
  border-radius: 50px !important;
}

/* Para asegurar que el contenido del botón también sea cuadrado */
ion-button .button-native {
  border-radius: 50px !important;
}

/* Media query for larger screens */
@media (min-width: 768px) {
  ion-card {
      max-width: 600px;
  }
  
  ion-button {
      max-width: 400px;
  }
}