<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ userName }}</ion-card-title>
      <ion-card-subtitle>{{ userEmail }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p *ngIf="isLoggedIn" expand="full">Información de usuario...</p>
      <ion-card-subtitle>{{ userTipe }}</ion-card-subtitle>

      <div *ngIf="autoInfo; else noCarInfo">
        <h3>Información del Auto</h3>
        <p><strong>Marca y Modelo:</strong> {{ autoInfo.marcaModelo }}</p>
        <p><strong>Color:</strong> {{ autoInfo.color }}</p>
        <p><strong>Matrícula:</strong> {{ autoInfo.matricula }}</p>
      </div>
      <ng-template #noCarInfo>
        <p>No hay información del auto.</p>
      </ng-template>
      
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="onEditProfile()">Editar Perfil</ion-button>

  <!-- Botones separados para iniciar y cerrar sesión -->
  <ion-button *ngIf="!isLoggedIn" expand="full" color="success" (click)="iniciarSesion()">
    Iniciar Sesión
  </ion-button>
  
  <ion-button *ngIf="isLoggedIn" expand="full" color="danger" (click)="cerrarSesion()">
    Cerrar Sesión
  </ion-button>
</ion-content>
