ion-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding-bottom: 20px;
    
}

ion-card{
    width: 95%;
    max-width: 400px;
    margin-top: 20px;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 5px;
    border-radius: 5px solid transparent;
    
}

ion-button{
    margin-top: 15px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 15px;
    padding: 0 10px;
    
}