<ion-header>
  <ion-toolbar>
    <ion-title>
      TeLlevoAPP
    </ion-title>
    <ion-icon slot="end" [name]="isDarkMode ? 'sunny' : 'moon'" (click)="toggleTheme()"></ion-icon>
  </ion-toolbar>
</ion-header>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
<ion-content class="ion-padding">
  <h1>Bienvenido a TeLlevoAPP</h1>
  <p>Encuentra o ofrece viajes compartidos de manera fácil y segura.</p>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Próximo viaje</ion-card-subtitle>
      <ion-card-title>Viaje a la Universidad</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Fecha: {{nextRideDate | date:'dd/MM/yyyy'}}</p>
      <p>Hora: {{nextRideTime}}</p>
      <p>Conductor: {{nextRideDriver}}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="findRide()">Buscar Viaje</ion-button>
  <ion-button expand="block" (click)="offerRide()">Ofrecer Viaje</ion-button>

  <ion-button expand="block" (click)="borrarUsuarios()">Borrar usuarios</ion-button>
  <ion-button expand="block" (click)="mostrarListaUsuarios()">Ver Lista de Usuarios</ion-button>
</ion-content>