.register-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

.logo-container {
  text-align: center;
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

.app-title {
  font-size: 2rem;
  margin-bottom: 5px;
}

.register-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.password-group {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

.password-toggle ion-icon {
  font-size: 1.2rem;
}

.register-button ion-icon,
.login-button ion-icon {
  margin-right: 5px;
}

.register-button,
.login-button {
  margin-top: 15px;
}

.skip-link {
  margin-top: 15px;
  font-size: 0.9rem;
  cursor: pointer;
  color: var(--ion-color-primary);
  text-align: center;
}
