<ion-content [fullscreen]="true">
  <div id="contenedor">

    <div class="logo-in">
      <img src="assets/autologo.svg" class="logo">
      <h1>TeLlevoApp</h1>
    </div>

    <div class="titulo">
      Registro
    </div>

    <ion-input fill="outline" label="Usuario" labelPlacement="floating" [clearInput]="true"
      placeholder="Ingrese su usuario"></ion-input>

    <ion-input fill="outline" label="Nombre Completo" labelPlacement="floating" [clearInput]="true"
      placeholder="Ingrese su nombre completo"></ion-input>

    <ion-input fill="outline" label="Correo Electrónico" labelPlacement="floating" [clearInput]="true"
      placeholder="Ingrese su correo electrónico"></ion-input>

    <ion-input fill="outline" clearOnEdit="false" label="Contraseña" labelPlacement="floating" [clearInput]="true"
      placeholder="Ingrese su contraseña" type="{{sw?'text':'password'}}">
      
    </ion-input>

    <ion-input fill="outline" clearOnEdit="false" label="Confirmar Contraseña" labelPlacement="floating" [clearInput]="true"
      placeholder="Confirme su contraseña" type="{{sw?'text':'password'}}">
      
    </ion-input>
    <ion-checkbox justify="start" labelPlacement="end" (click)="togglePasswordVisibility()">Mostar Contraseña</ion-checkbox>

    <ion-button color="primary" (click)="register()">Registrarse</ion-button>
    <ion-button color="primary" (click)="gologIn()">Ya Tienes Cuenta?</ion-button>
    <p (click)="goHome()">No Por Ahora</p>
  </div>
</ion-content>

