.register-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}


.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.theme-toggle-icon {
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease; 
}
// nose que paso nt
.theme-toggle-icon:hover{
  transform: rotate(45deg);
} 

.app-title {
  font-size: 2rem;
  margin-bottom: 5px;
}

.register-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.password-group {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

.password-toggle ion-icon {
  font-size: 1.2rem;
}

.register-button ion-icon,
.login-button ion-icon {
  margin-right: 5px;
}

.register-button,
.login-button {
  margin-top: 15px;
}

.skip-link {
  margin-top: 15px;
  font-size: 0.9rem;
  cursor: pointer;
  color: var(--ion-color-primary);
  text-align: center;
}

